Workflow Slack
{
  "name": "Envia-msg-Slack",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "sender": "tuccigabriel23@gmail.com"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "5de2d115-3075-4993-92b0-6ff5cbf7afa7",
      "name": "Recebe e-mail",
      "credentials": {
        "gmailOAuth2": {
          "id": "oGFsaGbDmfROVEA5",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bf80b46c-99bf-4292-9cec-d5ec58624f42",
              "name": "Mensagem",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "76887da8-7b71-4347-9948-d531d0cd1bc0",
      "name": "Filtra dados"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "#social",
          "mode": "name"
        },
        "text": "={{ $json.snippet }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        432,
        0
      ],
      "id": "97cfa8ac-741f-415e-82d5-746043dabe40",
      "name": "Envia mensagem",
      "webhookId": "a6b2364a-357d-40f4-b220-62869c70c5eb",
      "credentials": {
        "slackOAuth2Api": {
          "id": "t9XCFittcS0mOIt3",
          "name": "Slack account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Recebe e-mail": {
      "main": [
        [
          {
            "node": "Filtra dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtra dados": {
      "main": [
        [
          {
            "node": "Envia mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "603fa5a0-2560-482e-b4e9-6ed7b439b7c0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0ed4d97242f7a1d278dadcf21d659110ec72f11c3ebdf0af08dfaeb8f1148172"
  },
  "id": "mEmzaDX7fTuqYCwM",
  "tags": []
}
